<h1>Bienvenido <%= @nombre %> <%= @apellido %></h1>
<%= form_tag :action => 'form' do %>
<p>Nombre:	
<%= text_field_tag 'nombre_usuario', @nombre %>
<%= text_field_tag 'apellido_usuario', @apellido %>
</p>
<%= submit_tag 'Registrarse' %>
<% end %>
<p>Find me in app/views/examples/form.html.erb</p>
